h1 {
    color: rgb(46, 46, 76);
}

/* body {
    background-color: rgb(123, 122, 119);
    position: relative;
    left: -10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

} */

/* body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */

/*} */


.content_ {
    border: 1px solid grey;
    background-color: rgb(227, 235, 242);
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    margin: auto;
    width: 50%;
    height: 50%;
    z-index: 12;
    box-shadow: 2px 2px 2px teal;

    overflow-y: scroll;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.content_::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


.sidecontent_l {
    border: 1px solid grey;
    background-color: rgb(227, 235, 242);
    position: fixed;
    top: 25%;
    /* must be identical to content's class*/
    margin: auto;
    width: 20%;
    height: 50%;
    left: 1%;
    float: left;
    box-shadow: 2px 2px 2px teal;

    overflow-y: scroll;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.sidecontent_l::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.sidecontent_r {
    border: 1px solid grey;
    background-color: rgb(227, 235, 242);
    position: relative;
    top: 25%;
    /* must be identical to content's class*/
    margin: auto;
    width: 20%;
    height: 50%;
    right: 1%;
    float: left;
    box-shadow: 2px 2px 2px teal;

    overflow-y: scroll;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.sidecontent_r::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.content_top {
    /* border: 1px solid rgb(26, 8, 8); */
    background-color: rgb(227, 235, 242);
    position: fixed;
    top: 14%;
    margin: auto;
    width: 50%;
    /* must be identical to content's class*/
    height: 10%;
    right: 25%;
    /* must be identical to content's class*/
    left: 25%;
    /* must be identical to content's class*/
    box-shadow: 2px 2px 2px teal;
}

/* table {
    position: relative;
    width: 100%;
    height: 50%;
    margin: auto;
    font-size: large;
    text-align: center;
    padding: 10px 10px 10px 10px;

} */



.boggletable td {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .boggletable td {
        position: relative;
        width: 100px;
        height: 50px;
        margin: auto;
        text-align: center;
    }
}
/* .boggleTable td:hover {
    background-color: aqua;
} */

.blogTable {
    /* border: 1px solid rgb(125, 30, 30); */
    position: relative;
    width: 70%;
    height: 50%;
    margin: auto;
    font-size: large;
    text-align: left;
    padding: 10px 10px 10px 10px;
}


.blogTableSide {
    /* border: 1px solid rgb(125, 30, 30); */
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: large;
    text-align: left;
    padding: 10px 10px 10px 10px;
}


.bloglyUsers {
    position: relative;
    margin: auto;
    width: 50%;
}

.blogly_ul {
    list-style-type: disc;
    font-size: larger;
}

.blogly_img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.postText {
    position:relative;
    word-wrap: normal;
    margin:10px;
    width:80%;
    height:200px;
    text-align: left;    
}
.postTitle {
    position:relative;
    margin:10px;
    width:80%;
    
}

.pastPosts {
    position:relative;
    margin:auto;
    width:100%;
}

.blogHead {
    /* border: 1px solid black; */
    position:relative;
    margin:auto;
    width:100%;
    height:100%;
    float:left;
}





.boardbuttons {
    position:relative;
    min-height: 100%;
    min-width: 100%;
    font-size: 100%;
    font-weight: 900;
}
.boardbuttons:hover {
background-color: aqua;
}

.gamecontrol {
    display: inline-block;
    width: 100px;
    height: 45px;
}

.currencyDropDown {
    position: relative;
    margin: 50px;
    width: 200px;
}

#halloffameDiv {
    position: relative;
    margin: auto;
    font-size: small;
    width: 100%;
}

#currentRates {
    position: relative;
    margin: auto;
    font-size: xx-small;
    left: 5%;
    width: 100%;
}

#halloffameButton {
    position: relative;
    margin: auto;
    font-size: small;
    width: 100%;
}


#convertAmount {
    position: relative;
    width: 35%;
}

#convertButton {
    position: relative;
    margin-top: 20px;
}



#guessspan {
    font-size: 10px;
}

#wordform {
    position: relative;
    margin: auto;
    width: 75%;
}






.navbar_ {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 101%;
    top: 0px;
}



.navbar_ a {
    float: left;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    color: rgb(235, 246, 246);
    text-decoration: none;


}

.navbar_ a:hover {
    background-color: rgb(118, 116, 113);
    color: black;
}

.pageName {
    /* border: 1px solid grey; */
    /* text-shadow: 5px 5px 10px; */
    text-align: center;
    position: fixed;
    margin: auto;
    width: 50%;
    /* must be identical to content_top's */
    top: 15%;
}

.pageName h1 {
    color: rgb(51, 57, 74);
}



ul {
    list-style-type: none;
}

#score {
    position: relative;
    margin: auto;
    left: 5%;
    font-size: 20px;
}

#timer {
    position: relative;
    margin: auto;
    left: 5%;
    font-size: 20px;
}

#startForm {
    position: relative;
    margin: auto;
    width: 100%;
}

#start {
    position: relative;
    margin: auto;
    width: 50%;
    left: 25%;
    height: 50px;
    border-radius: 20px;

    background-color: rgb(147, 135, 135);
    color: white;
    box-shadow: -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.2);

}

#start:active {
    border-bottom-color: #0099ff;
    transform: translate3d(1px, 1px, 1px);
}

.startDiv {
    /* display:inline-block; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}

.homeText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
}

.messages {
    position: relative;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
}

.error {
    color: rgb(241, 235, 235);
    background-color: rgb(171, 31, 31);
}

.success {
    color: rgb(20, 20, 134);
    background-color: antiquewhite;
}

.story {
    position: relative;
    top: 25%;
    color: rgb(69, 13, 13);
    font-size: 30px;
    text-align: justify;
}

.storyElement {
    position: relative;
    width: 20%;
    font-size: inherit;
    float: left;
}

.storyInput {
    position: relative;
    margin: auto;
    width: 110%;
}




.homelink {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

footer {
    background-color: rgb(89, 67, 67);
    position: fixed;
    bottom: 0px;
    width: 101%;
    height: 10%;
}

footer a {

    position: relative;
    margin: auto;
    width: 50%;
    top: 50%;
    padding-top: 50px;
    font-size: 17px;
    color: rgb(235, 246, 246);
    text-decoration: none;

}

footer div {

    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 90%;
}

footer a:hover {
    background-color: bisque;
    color: black;
}

.greetings {
    color: rgb(19, 19, 21)
}