<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">

    <!-- viewport definition for @media screen smart device settings to work in css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>


    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/storyform">CREATE A STORY</a>
        <a href="/hello">HELLO</a>
        <a href="/lucky">LUCKY</a>
        <a href="/spell/spellit">SPELL</a>
        <a href="/movies">MOVIES</a>
        <a href="/survey">SURVEY</a>
    </nav>

    <div class="pageName">
        <h1>{% block page_name %}{% endblock %}</h1>
    </div>
    <div class="content">

        {% block content %}{% endblock %}

        <div class="message">
            <!-- 
                Flashing With Categories:
            -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=messages>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                <!--categories are CSS classes to be styled in app.css! -->
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <!-- 
                Basic flashing:
                {%for msg in get_flashed_messages()%}
                <p>{{msg}}</p>  
            {%endfor%} -->
        </div>
    </div>

    <footer>
        <div>
            <a href="/">© - elfege.com</a>
        </div>
    </footer>

    <script src="/static/app.js"></script>
</body>

</html>