{% extends "base.html" %}
{% block title %}BOGGLE{% endblock %}


<!-- TOP CONTENT -->
{% block content_top %}
{% block page_name %} BOGGLE {% endblock %}
{%endblock%}
<!-- END OF TOP CONTENT -->


<!-- SIDE CONTENT -->
{% block sidecontent_l %}{%endblock%}
<!-- END OF SIDE CONTENT -->


<!-- MAIN CONTENT -->
{% block content %}
<br>
<div style="text-align:center">
    <form class="form-group" id="boggleForm" action="/game_page">
        <button class="btn btn-primary" style="width:30%" type="submit">PLAY</button>
    </form>

    <form class="form-group" id="boggleForm" action="/clear/false">
        <button class="btn btn-secondary" style="width:30%" type="submit">CLEAR</button>
    </form>
</div>
{%endblock%}
<!-- END OF MAIN CONTENT -->

<!-- SIDE CONTENT RIGHT -->
{% block sidecontent_r %}{%endblock%}
<!-- END OF SIDE CONTENT -->

