{% extends "base.html" %}
{% block title %}Story Form{% endblock %}
{% block page_name %} Build your own story!{% endblock %}
{% block content %}

<form action="/story">
    <table class="storyTable">
        <tr>
            <td><h4 class="storyElement">Place:</h4></td>
            <td><input type="text" class="storyInput" placeholder="insert place name" name="place"></td>
        </tr>
        <tr>
            <td><h4 class="storyElement">Adjective:</h4></td>
            <td><input type="text" class="storyInput" placeholder="insert Adjective" name="adjective"></td>
        </tr>
        <tr>
            <td><h4 class="storyElement">Noun:</h4></td>
            <td><input type="text" class="storyInput" placeholder="insert Noun" name="noun"></td>
        </tr>
        <tr>  
            <td><h4 class="storyElement">Verb:</h4></td>
            <td><input type="text" class="storyInput" placeholder="insert Verb" name="verb"></td>
        </tr>
        <tr>
            <td><h4 class="storyElement">Plural-noun:</h4></td>
            <td><input type="text" class="storyInput" placeholder="insert Plural Noun" name="plural-noun"></td>
        </tr>
        <tr>
            <td>
                <button>SUBMIT</button>
            </td>
        </tr>
    </table>
</form>
{%endblock%}